
<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title> 🌿[AVALAND]🌿</title>
  <style type="text/css">
   H1 { 
    font-size: 120%; /* Размер шрифта */
    font-family: Verdana, Arial, Helvetica, sans-serif; /* Семейство шрифта */
    color: #000000; /* Цвет текста */
   }
  </style>
 </head>
 <html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>[SHX]</title>
 </head>
 <body>

  <marquee behavior="alternate" direction="left" bgcolor="#ff00ff">
    ♥[AVALAND]♥ - мир безграничных возможностей🌿
  </marquee>

 </body>
</html>
 <body>
  <H1>[AVALAND]</H1>
 </body>
</html>
</html>
<html>
<head>
    <meta charset="utf-8">
    <title>AvaLand</title>
</head>
<body>
    {% if not token %}
    <form method="post" action="/login">
        <table>
            <tr>
                <td><label for="loginField">Логин</label></td>
                <td><input id="loginField" type="text" name="login" required></td>
            </tr>
            <tr>
                <td><label for="passwordField">Пароль</label></td>
                <td><input id="passwordField" type="password" name="password" required></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center"><input type="submit" value="Войти"></td>
            </tr>
        </table>
    </form>
    <p><a href="https://vk.com/avalandofficial">Зарегистрироваться</a></p>{% else %}<input id="clickMe" type="button" value="Начать игру" onclick="start();"/>
    <a style="display: none;" id="flash" href="https://get.adobe.com/flashplayer">Включить Flash</a>
    <div id="flashContent"></div>
    <br>
    <a href="/logout">Выйти</a>
    <script>
        function start(){
            document.getElementById('clickMe').style.display = "none";
            if (swfobject.getFlashPlayerVersion().major == 0){
                document.getElementById('flash').style.display = "block";
                return;
            }
            var vars = {};
            vars['config'] = '/appconfig.xml';
            vars['versions'] = '/files/versions.json?{{ update_time }}';
            vars['appSwf'] = '/files/pnz-city.swf?{{ update_time }}';
            var flashVars = [];
            for (var variable in vars) {
                flashVars.push(variable + '=' + vars[variable]);
            }
            var params = {
                flashvars: flashVars.join("&"),
                allowfullscreen: "true",
                allowscriptaccess: "always",
                allowFullScreenInteractive: "true",
                allownetworking: "all",
                wmode: "transparent"
            };
            var el = document.getElementById("flashContent");
            swfobject.embedSWF("/files/pnz-city-container.swf", el, 1280, 720, 10, null, null, params, {name: "flashContent"});
        }
    </script>
    <script type="text/javascript" src="/files/swfobject.js"></script>{% endif %}
</body>
</html>
<html>
 <head>
  <meta charset="utf-8">
  <title>background</title>
  <style>
   body {
    background: url(https://zizt.ru/uploads/monthly_2017_12/uy2kvzg_by_chomp_chi-dafbcen.gif.e7d86ff065d0f60c4434191e5a1f18e9.gif) repeat-y, 
                #fc0 url(https://zizt.ru/uploads/monthly_2017_12/uy2kvzg_by_chomp_chi-dafbcen.gif.e7d86ff065d0f60c4434191e5a1f18e9.gif) repeat-y 100% 0;
   }
  </style>
 </head>
 <body>
 </body>
</html>
